<div>
    <nav>
      
        <ul>
          <h1>Proyecto 1</h1>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/table">Table</a></li>
        </ul>
      </nav>
    <div class="table-container">
        <h1 class="tabla-title">Tabla</h1>
        <table border="0" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Juan</td>
              <td>Pérez</td>
            </tr>
            <tr>
              <td>2</td>
              <td>María</td>
              <td>Gómez</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
  