h1 {
    font-style: none;
}

a{
    text-decoration: none;
    color: black;
    
}

li {
    display: inline;
    margin-right: 20px; 
  }

p {
    text-align: center;
    font-size: 40px;
    margin-top: 17%;
}